.movie-section {
  padding: 20px 40px;
  background-color: transparent;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-heading {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-bottom: 3px solid transparent;
}

.header-underline {
  width: 70px;
  height: 3px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 15px;
}

.view-more {
  background-color: #1b2430;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.3s;
}

.view-more:hover {
  background-color: #ff4040;
}

.movie-slider-container {
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
}

.movie-slider-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.movie-slider-container.active {
  cursor: grabbing;
}

.movie-slider {
  display: flex;
  gap: 15px;
}

.movie-card {
  min-width: 240px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.movie-title {
  color: white;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
